@using Microsoft.AspNetCore.Identity;
@model CBIB.Views.ViewModels.UserManagementIndexViewModel
@inject UserManager<ApplicationUser> userManager

<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Roles</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@(string.Join(",", await userManager.GetRolesAsync(user)))</td>
                <td><a asp-controller="UserManagement" asp-action="AddRole" asp-route-id="@user.Id">Add Role</a></td>

                @*<td>@(string.Join(",", await userManager.GetRolesAsync(user)))</td>*@
                <td><a asp-controller="UserManagement" asp-action="AddNode" asp-route-id="@user.Id">Add Node</a></td>
            </tr>
        }
    </tbody>
</table>